/* Font Style  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Common Styles */
* {
    margin: 0px;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Primary Button Style  */

.primary-button {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border: none;
    border-radius: 8px;

    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Navigation Styles */

header {
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 85px;
}

.nav-bar {
    padding: 50px 0px 100px 0px;
}

.title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-bar,
.menu-items>ul {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-items ul,
.menu-items a {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

/* Banner Section Styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 300px 50px 300px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
    padding-bottom: 24px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    padding-bottom: 32px;
}

.banner-pic {
    width: 80%;
    height: 550px;
    border-radius: 10px;
    padding-bottom: 40px;
}

/* Main Section Styles  */

/* Quick feature styles */
.quick-feature {
    display: flex;
    align-items: center;
    gap: 75px;
    padding: 0px 200px 130px 200px;
}

.quick-feature-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-pic {
    width: 300px;
    height: 300px;
}

.quick-feature-text {
    text-align: left;
}

.text-style1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-style2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.text-style3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.quick-feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 25px 0px;
}

/* Features you will love & enjoy section Styles */

.features-love {
    width: 1245px;
    height: 1060px;
    display: flex;
    column-gap: 120px;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.features-love-text{
    padding-bottom: 50px;
    padding-right: 0px;
}


.heading {
    display: flex;
}

.vertical-line {
    border-left: 5px solid #FF900E;
    height: 106px;
    position: relative;
    padding-right: 20px;
}

.heading h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sub-heading {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 20px;
}
.blogs{
    padding-bottom: 20px;
    padding-left: 20px;
}

.blog {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid salmon;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.blog-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding-bottom: 10px;
}

.blog-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

#architect {
    width: 550px;
    height: 900px;
    padding-left: 0px;
    padding-bottom: 0px;
}
.features-love-pic{
    position: relative;
}
/* 10+ Years Button Styles */

.exprience-button {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    bottom: 80px;
    right: 75px;
}

.btn-year {
    font-weight: 700;
    font-size: 65px;
}

.btn-exp {
    font-weight: 500;
    font-size: 25px;
}

/* Some facts Styles */
.facts {
    margin-top: 50px;
    padding: 0px 100px;
}

.fact-text {
    width: 0%;
}

.facts-title {
    font-weight: 700px;
    font-size: 45px;
    color: #131313;
    padding-bottom: 25px;
}

.facts-sub-title {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.fact-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 124px;
    padding: 100px 50px;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Fact Animation */

.fact:hover{
    background-color: lightgreen ;
    transform: scale(1.5);
    transition: transform 1s linear, background-color 1s;
}

/* ______ */

.fact-icon {
    width: 45px;
    height: 45px;
}

.fact-number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    padding: 10px 0px;
}

.fact-name {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}


/* Sponsors Sections Styles */

.sponsors {
    padding: 50px 100px 130px 100px;
}

.sponsors-text {
    text-align: center;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsors-discription {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 25px 0px 50px 0px;
}

.sponsors-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsors-logo img {
    -webkit-filter: grayscale(100%);
}

/* Footer Styles */
footer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.footer {
    display: flex;
    width: 80%;
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}





/*::::::::::::::::::::::::::::::::::::::::::::::::
        Responsive Styles
:::::::::::::::::::::::::::::::::::::::::::::::::*/

/*------------------------------
    Responsive for Mobile Device
------------------------------*/

@media only screen and (max-width: 688px) {
    * {
        margin: 0px;
    }

    .nav-bar,
    .menu-items>ul {
        flex-direction: column;
        gap: 0px;
    }

    .menu-items {
        padding: 0px;
    }

    .banner-text {
        padding: 0px;
    }

    .banner-pic {
        width: 100%;
    }

    .quick-feature {
        width: 100%;
        padding: 0px;
    }

    .quick-feature-gallery,
    .quick-feature-text {
        width: calc(50% - 75px);
    }

    .team-pic {
        width: 100%;
        height: 100px;
    }

}